/* Doctor List Container */
.doctor-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Doctor List Header */
  .doctor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .doctor-title h5 {
    margin: 0;
  }
  
  .doctor-see-all {
    cursor: pointer;
    color: #007bff;
  }
  
  /* Doctor List */
  .doctor-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-between;
    gap: 20px;
  }
  
  /* Doctor Item */
  .doctor-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .doctor-image {
    flex: 0 0 70px;
    margin-right: 10px;
    
  }
  
  .doctor-avatar {
    width: 100%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  
  .doctor-info {
    flex-grow: 1;
  }
  
  .doctor-specialization {
    color: #6c757d;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .doctor-status {
    flex: 0 0 80px;
    text-align: center;
  }
  
  .status-available {
    color: #28a745;
  }
  
  .status-unavailable {
    color: #dc3545;
  }
  